# Python for Scientists
## Day 1 Notebook
This notebook was developed for the NASA Goddard Space Flight Center and CRESST II's post-baccalaureate program by [Joe P. Renaud](https://www.josephrenaud.com) in Spring, 2024.

**Prerequisites for running this notebook**
- Install Python 3.9+ (e.g., by using [Anaconda](https://www.anaconda.com/download))
- (Optional but recommended) Create a new virtual environment or conda environment.
    - For conda: `conda create -n PyScience python="3.11"; conda activate PyScience`
- Open a terminal and install packages using pip (or `conda install`):
    - `pip install numpy scipy matplotlib jupyter pandas tabulate`

# Not Python Topics
- Creating a virtual enviornment
    - `conda create -n PyScience python="3.11"`
- Installing 3rd party packages
    - `conda install numpy scipy matplotlib jupyter pandas tabulate`
- Basics of GitHub
    - Ensure Git is installed: `https://git-scm.com/book/en/v2/Getting-Started-Installing-Git`
    - This workshop's repository: `https://github.com/jrenaud90/PyScience`
    - Open a terminal and navigate to a folder you want to work out today.
    - `git clone https://github.com/jrenaud90/PyScience`
    - If you would like to learn how to make commits, forks, etc. for GitHub, let me know this could be an advance topic we cover
- Opening Jupyter Notebook
    - Navigate to the directory you just cloned.
    - `jupyter notebook`

# Overview of Jupyter Notebooks

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Define variables and print them
x = 20
print(f"x = {x}")

# Make and display plots
x = np.linspace(0., 4. * np.pi, 50)
y = np.sin(x)
fig, ax = plt.subplots()
ax.plot(x, y, c='r', label='My Data')
ax.legend(loc='best')
plt.show()

In [ ]:
# Variables are saved by order the notebook's cell is executed, _not_ in order of appearance.
print(x)

In [ ]:
# The x variable has changed, go back to the previous cell and try printing it now.
x = "red"

In [ ]:
# Other fun things you can do in a notebook
# You may need to add a "!" before these commands
ls
pip show numpy

# Python "Basics"

## Variables and Data Types
Common Python and Numpy variables and data types.

In [ ]:
# We are skipping some types but can get into them if there is interest:
# - Strings, tuples, classes, sets, iterables (generally)

In [ ]:
# Floating Point Numbers, an imperfect necessity
x = 1.0
print(type(x))
y = 1
print(type(y))

# All ways to define floats
x = 1.0e-2
x = 0.2E-1

print("\nBeware of the float!")
print("6.0/2.0 =", 6.0/2.0)
print("0.6/0.2 =", 0.6/0.2)
print("6.0/2.0 equals 0.6/0.2?", 6.0/2.0 == 0.6/0.2)
print("0.6//0.2 =", 0.6//0.2)

In [ ]:
# =====================================================================================================================
# Python Lists
# =====================================================================================================================

print("\nLists")
my_list = [1,2,3,4]
print("my list:", my_list)
print("It has", len(my_list), "members.")
my_list.append(10)
print("I can add 10 to it:", my_list)
for item in my_list:
    print("This item is", item)

for i, item in enumerate(my_list):
    print("Item", i, "is", item)

# "Slicing" a list
print("Item 0:", my_list[0])
print("Items 2 to end:", my_list[2:])
print("Items 2 to 2nd from end:", my_list[2:-1])
print("Skip Every Other Item:", my_list[0::2])
print("Skip Every Other Item (Evens):", my_list[1::2])

# Loop over slices of a list
for i, item in enumerate(my_list[0::2]):
    print("Item", i, "is", item)

print("My original list", my_list[:], "Or I can just do:", my_list)
# Lists can be changed: They are "mutable"
my_list[0] = 1000
print(my_list)
my_list[0:2] = [20, 25]
print(my_list)
# Notice that the slice is EXCLUSIVE (the value in spot "2" did not change)

# List members do not need to be of the same type (aka: all integers); they are "inhomogeneous"
t = "Blue"
my_new_list = [1, 2, 3, 2/3, "Hello There", t]
print("\n", my_new_list)

In [ ]:
# =====================================================================================================================
# Numpy Arrays
# =====================================================================================================================

# Numpy Arrays work very similar to lists for 1-D data (but are much faster and more memory efficient)
print("\nNumpy Arrays")
my_array = np.asarray([1,2,3,4])
print("my array:", my_array)
print("It has", len(my_array), "members.")
my_array = np.append(my_array, 10)  # There is a catch with the numpy append, see if you can figure it out or ask me about it!
print("I can add 10 to it:", my_array)
for item in my_array:
    print("This item is", item)

for i, item in enumerate(my_array):
    print("Item", i, "is", item)

print("Item 0:", my_array[0])
print("Items 2 to end:", my_array[2:])
print("Items 2 to 2nd from end:", my_array[2:-1])
print("Skip Every Other Item:", my_array[0::2])
print("Skip Every Other Item (Evens):", my_array[1::2])
print("My original list", my_list[:], "Or I can just do:", my_array)
# Numpy arrays are also mutable
my_array[0] = 1000
print(my_array)
my_array[0:2] = [20, 25]
print(my_array)

### Differences between Python lists and numpy arrays

In [ ]:
# Most* Numpy arrays are homogenous; lists are inhomogeneous. 
my_list = [0., 2, 'blue']
print(my_list)
my_array = np.asarray([0., 2, 'blue'])
print(my_array)
# This works!

my_list = [0, 1, 2]
my_list[1] = 'Blue'
print(my_list)
my_array = np.asarray([0, 1, 2])
my_array[1] = 'Blue'
# Error. Once a numpy array has been built its type is set and can not be changed.

In [ ]:
# 2+ Dimensional data is easier (and faster) to work with using numpy arrays
my_2D_list = [
    [0, 1, 2],
    [3, 4, 5],
    [6, 7, 8]
]
print('Row 2, Column 3 item: ', my_2D_list[1][2])

# Notice the difference in how we access the item
my_2D_array = np.asarray(my_2D_list)
print('Row 2, Column 3 item: ', my_2D_array[1, 2])

# Quickly learn details about an array
print('Array type: ', my_2D_array.dtype)
print('Array size (total number of members): ', my_2D_array.size)
print('Array shape (size in each dimension): ', my_2D_array.shape)

In [ ]:
# Lots of different kinds of math can be performed on a numpy arrays directly.
print('Original Array:\n', my_2D_array, '\n')
print('Original List:\n', my_2D_list, '\n')

# Multiply array by 2
print('Doubled Array:\n', my_2D_array * 2, '\n')  # <-- Success!
print('Doubled List:\n', my_2D_list * 2, '\n')   # <-- No Error, but probably not what you were looking for...

# Take the square of the 2D array.
print('Squared Array:\n', my_2D_array**2, '\n')  # <-- Success!
print('Squared List:\n', my_2D_list**2, '\n')   # <-- Error

In [ ]:
# =====================================================================================================================
# Numpy Array Masking
# =====================================================================================================================

# Numpy allows for "masking" data which is just a fancy way to slice an array.
# Create a boolean (True/False) mask array for our 2D array

# Python's modulus 2 function will produce zeros where ever the array can be evenly divided by 2 (evens)
mod_2 = my_2D_array % 2
# We will create a mask where ever there are zeros using a "==" comparison
only_evens_mask = mod_2 == 0

# Can apply this to our original array
print(my_2D_array, '\n\n', my_2D_array[only_evens_mask], '\n')

# The mask is a regular numpy array so has all the same features
print(only_evens_mask.size, only_evens_mask.shape, only_evens_mask.dtype)

## Functions

In [ ]:
# =====================================================================================================================
# Building Functions
# =====================================================================================================================

# How do we make functions?
def my_func(x):
    if x <= 5:
        return x
    else:
        return -x

out = my_func(10)
print(out)

# Why do we make functions?
#  - Reduce duplication of code: making debugging easier, potentially improving performance

x = np.linspace(0., 2.0 * np.pi, 50)
y = np.sin(x)

def make_plot(*data):
    
    x_array = data[0]
    y_array = data[1]

    fig, ax = plt.subplots()
    ax.plot(x_array, y_array, c='r')

    ax.set(title='My Plot', xlabel="$\\eta$ [Deg.]", ylabel='$\\mu^2$ [m s$^{-20}$]', yscale='linear', xscale='linear')

    return fig, ax

# Now we have one function that we can use to make a bunch of different plots without having to repeat
make_plot(x, y)
y_2 = np.cos(x)
make_plot(x, y_2)
y_3 = np.tan(x)
make_plot(x, y_3)

# And it is easy to make changes when one plot should have, for example, a different title than another.
fig_1, ax_1 = make_plot(x, y_2)
ax_1.set(title='My Other Plot')
plt.show()

In [ ]:
# =====================================================================================================================
# Function Vectorization
# =====================================================================================================================

# Another use for functions is to perform complex calculations on arrays of data, called "vectorizing"
array = np.linspace(0, 10, 4, dtype=np.float64)

my_func_vectorized = np.vectorize(my_func)
# Pause point: What _is_ the `my_func_vectorized` variable right now?
# Answer: it is a numpy class function (a python class) that now takes an array rather than a float.
print(type(my_func_vectorized))
array_2 = my_func_vectorized(array)
print('Function Applied to an Array: ', array_2)

# Try to uncomment the below and see what happens if we did not use the np.vectorize function
# array_3 = my_func(array)

# Now if we ever want to change the behavior of our function we can just change the definition of my_func rather
# than finding all of the instances where the functionality was implemented manually.

# A lot of common functions have probably already been made by others and included in various packages. 
# Many of these already work with arrays without you having to do anything. 
print('Sin: ', np.sin(array))
print('Cos: ', np.cos(array))
print('Exp: ', np.exp(array))

from scipy.special import gamma
print('Gamma: ', gamma(array))

# MatPlotLib and Plotting

In [ ]:
# =====================================================================================================================
# Basic MatPlotLib Plotting
# =====================================================================================================================

# For better or worse, matplotlib provides several different ways to produce the same plots. We will use the approach
# that tends to have the most flexibility. Don't be surprised if you find other ways to perform these tasks. 
# There is no "right" way.

# Create a figure and as single "axis pane"
# A figure can contain many axis panes

x = np.linspace(0, 10, 500)
y = np.exp(-x/2) * np.sin(5*x)

# Single plot
fig1, fig1_ax1 = plt.subplots()
fig1_ax1.plot(x, y)
plt.show()

# Two Columns
fig2, fig2_axes = plt.subplots(ncols=2)
y2 = np.exp(x/2) * np.cos(5*x)
fig2_axes[0].plot(x, y)
fig2_axes[1].plot(x, y2)
plt.show()

# Two Rows
fig3, fig3_axes = plt.subplots(nrows=2)
fig3_axes[0].plot(x, y)
fig3_axes[1].plot(x, y2)
plt.show()

# Two Rows and Columns
fig4, fig4_axes = plt.subplots(nrows=2, ncols=2)
y3 = x**2
y4 = -(x-3)**3
fig4_axes[0, 0].plot(x, y)
fig4_axes[0, 1].plot(x, y2)
fig4_axes[1, 0].plot(x, y3)
fig4_axes[1, 1].plot(x, y4)
plt.show()

# We can save as a rastered PNG
fig2.savefig('Figure 2.png', format='png', bbox_inches='tight')
# Or as vector graphic pdf
fig2.savefig('Figure 2.pdf', format='pdf', bbox_inches='tight')

In [1]:
# =====================================================================================================================
# Contour Plotting
# =====================================================================================================================

x = np.arange(-5, 5, 0.1)
y = np.arange(-5, 5, 0.1)

x_len = len(x)
y_len = len(y)

# Outer Product (2 vectors becomes 1 matrix)
z = np.outer(x, y)

# Add in some noise
z = z + 10*np.random.rand(x_len, y_len)

# Figure acts as a main container for everything that follows.
fig2 = plt.figure(figsize=(6,6))
# Setup a gridspace so we can have more than 1 plot with different aspect ratios.
from matplotlib import gridspec
gs = gridspec.GridSpec(2, 2, height_ratios=(3, 1), width_ratios=(9, 1), hspace=0.4)
fig2_ax1 = fig2.add_subplot(gs[0,0])


# Filled Contour
ct = fig2_ax1.contourf(x, y, z, 25)

# Labels
fig2_ax1.set(ylabel='Y-Coord [m]', xlabel='X-Coord [m]', title='Critically Important Data')

# Make a colorbar for the ContourSet returned by the contourf call.
fig2_CB_axis = fig2.add_subplot(gs[0,1])
cbar = plt.colorbar(ct, cax=fig2_CB_axis)

# Color bar label
cbar.ax.set_ylabel('Intensity, I, [W m$^{-2}$]')

# =====================================================================================================================
# Contour Sub Plot
# =====================================================================================================================

fig2_ax2 = fig2.add_subplot(gs[1,0])
# Couples of subplots
#   The rounds in the label names are so a bunch of digits don't show. I am rounding to the tenths place.
fig2_ax2.plot(x, z[:, 25], 'g', label=f'y={y[25]:0.1f}')
fig2_ax2.plot(x, z[:, 50], 'b:', label=f'y={y[50]:0.1f}')
fig2_ax2.plot(x, z[:, 75], 'r', label=f'y={y[75]:0.1f}')
fig2_ax2.set_ylim([-30, 30])
# Labels
fig2_ax2.set_xlabel('X-Coord [m]')
fig2_ax2.set_ylabel('I')
# Legend
fig2_ax2.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.0)
plt.show()

# Save
fig2.savefig('Contour Plot.png', format='png', bbox_inches='tight')
fig2.savefig('Contour Plot.pdf', format='pdf', bbox_inches='tight')

NameError: name 'np' is not defined

## Using Pandas to Load and Manipulate Data

In [3]:
# =====================================================================================================================
# Loading Data
# =====================================================================================================================

# It is straight forward to load data. But real scientific data is messy. It has missing data. Different data types.
# Pandas package makes it easy to work with this kind of mixed and messy data (particularly if you have a lot of data).
import pandas as pd

file_name = "data.csv"
data = pd.read_csv(
    file_name,  # Provide system path to your file
    delimiter=',',  # Comma-deliminated csv
    header=0,  # First row contains the header information (strings)
    na_values="NA!", # The data contains some Not-A-Number/NA values indicated by "NA!"
)

# Different ways to display a panda's dataframe
# Regular print
print(data)

# Markdown (Requires "tabulate" package; `conda install tabulate`)
print(data.to_markdown())

# HTML (Jupyter notebooks only)
from IPython.display import display, HTML
display(HTML(data.to_html()))

    Number       Date  Pressure [Pa]  Temperature [K]  H2O Abundence [%]  \
0        1   1/1/2015      -0.000004            343.0                 26
1        2   1/2/2015       0.000002            397.0                 17
2        3   1/3/2015      -0.000009            286.0                  3
3        4   1/4/2015      -0.000006            383.0                 38
4        5   1/5/2015       0.000002            315.0                 14
5        6   1/6/2015       0.000005            266.0                  6
6        7   1/7/2015       0.000002            308.0                 29
7        8   1/8/2015      -0.000003            282.0                  5
8        9   1/9/2015      -0.000007            382.0                 10
9       10  1/10/2015      -0.000005              NaN                 28
10      11  1/11/2015      -0.000002            208.0                  4
11      12  1/12/2015       0.000000            220.0                 12
12      13  1/13/2015       0.000001            375.0                 18
13      14  1/14/2015      -0.000003            360.0                  4
14      15  1/15/2015      -0.000006            369.0                 31
15      16  1/16/2015       0.000010            217.0                 35
16      17  1/17/2015            NaN            263.0                 31
17      18  1/18/2015            NaN            247.0                  2
18      19  1/19/2015            NaN            232.0                 10
19      20  1/20/2015       0.000008            380.0                 10
20      21  1/21/2015       0.000002            353.0                 32
21      22  1/22/2015      -0.000001            281.0                 18
22      23  1/23/2015       0.000009            192.0                 18
23      24  1/24/2015       0.000003            237.0                 19
24      25  1/25/2015      -0.000006            196.0                  6
25      26  1/26/2015       0.000002            194.0                 29
26      27  1/27/2015      -0.000008            209.0                  9
27      28  1/28/2015       0.000005            299.0                 12

                            Notes
0                             NaN
1                             NaN
2                             NaN
3                          Clouds
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                  LOTS of clouds
9                 Something broke
10                            NaN
11                            NaN
12                            NaN
13                            NaN
14                           Rain
15                            NaN
16           Pressure gauge broke
17           Pressure still broke
18  This place won't fix anything
19                            NaN
20                            NaN
21                   LOTS OF LAVA
22                            NaN
23                            NaN
24                            NaN
25                            NaN
26                            NaN
27                            NaN
|    |   Number | Date      |   Pressure [Pa] |   Temperature [K] |   H2O Abundence [%] | Notes                         |
|---:|---------:|:----------|----------------:|------------------:|--------------------:|:------------------------------|
|  0 |        1 | 1/1/2015  |          -4e-06 |               343 |                  26 | nan                           |
|  1 |        2 | 1/2/2015  |           2e-06 |               397 |                  17 | nan                           |
|  2 |        3 | 1/3/2015  |          -9e-06 |               286 |                   3 | nan                           |
|  3 |        4 | 1/4/2015  |          -6e-06 |               383 |                  38 | Clouds                        |
|  4 |        5 | 1/5/2015  |           2e-06 |               315 |                  14 | nan                           |
|  5 |        6 | 1/6/2015  |           5e-06 |               266 |                   6 | nan                           |
|  6 |        7 | 1/7/2015  |           2e-06 |               308 |                  29 | nan                           |
|  7 |        8 | 1/8/2015  |          -3e-06 |               282 |                   5 | nan                           |
|  8 |        9 | 1/9/2015  |          -7e-06 |               382 |                  10 | LOTS of clouds                |
|  9 |       10 | 1/10/2015 |          -5e-06 |               nan |                  28 | Something broke               |
| 10 |       11 | 1/11/2015 |          -2e-06 |               208 |                   4 | nan                           |
| 11 |       12 | 1/12/2015 |           0     |               220 |                  12 | nan                           |
| 12 |       13 | 1/13/2015 |           1e-06 |               375 |                  18 | nan                           |
| 13 |       14 | 1/14/2015 |          -3e-06 |               360 |                   4 | nan                           |
| 14 |       15 | 1/15/2015 |          -6e-06 |               369 |                  31 | Rain                          |
| 15 |       16 | 1/16/2015 |           1e-05 |               217 |                  35 | nan                           |
| 16 |       17 | 1/17/2015 |         nan     |               263 |                  31 | Pressure gauge broke          |
| 17 |       18 | 1/18/2015 |         nan     |               247 |                   2 | Pressure still broke          |
| 18 |       19 | 1/19/2015 |         nan     |               232 |                  10 | This place won't fix anything |
| 19 |       20 | 1/20/2015 |           8e-06 |               380 |                  10 | nan                           |
| 20 |       21 | 1/21/2015 |           2e-06 |               353 |                  32 | nan                           |
| 21 |       22 | 1/22/2015 |          -1e-06 |               281 |                  18 | LOTS OF LAVA                  |
| 22 |       23 | 1/23/2015 |           9e-06 |               192 |                  18 | nan                           |
| 23 |       24 | 1/24/2015 |           3e-06 |               237 |                  19 | nan                           |
| 24 |       25 | 1/25/2015 |          -6e-06 |               196 |                   6 | nan                           |
| 25 |       26 | 1/26/2015 |           2e-06 |               194 |                  29 | nan                           |
| 26 |       27 | 1/27/2015 |          -8e-06 |               209 |                   9 | nan                           |
| 27 |       28 | 1/28/2015 |           5e-06 |               299 |                  12 | nan                           |

InvalidIndexError: (slice(None, None, None), 2)

In [8]:
# Access data in the dataframe by...
# Column
print(data.loc[:, "Date"])
print(data.iloc[:, 1])

data.loc[:, "Date"].plot()

0      1/1/2015
1      1/2/2015
2      1/3/2015
3      1/4/2015
4      1/5/2015
5      1/6/2015
6      1/7/2015
7      1/8/2015
8      1/9/2015
9     1/10/2015
10    1/11/2015
11    1/12/2015
12    1/13/2015
13    1/14/2015
14    1/15/2015
15    1/16/2015
16    1/17/2015
17    1/18/2015
18    1/19/2015
19    1/20/2015
20    1/21/2015
21    1/22/2015
22    1/23/2015
23    1/24/2015
24    1/25/2015
25    1/26/2015
26    1/27/2015
27    1/28/2015
Name: Date, dtype: object
0      1/1/2015
1      1/2/2015
2      1/3/2015
3      1/4/2015
4      1/5/2015
5      1/6/2015
6      1/7/2015
7      1/8/2015
8      1/9/2015
9     1/10/2015
10    1/11/2015
11    1/12/2015
12    1/13/2015
13    1/14/2015
14    1/15/2015
15    1/16/2015
16    1/17/2015
17    1/18/2015
18    1/19/2015
19    1/20/2015
20    1/21/2015
21    1/22/2015
22    1/23/2015
23    1/24/2015
24    1/25/2015
25    1/26/2015
26    1/27/2015
27    1/28/2015
Name: Date, dtype: object

TypeError: no numeric data to plot

# Python Gotchas

## Variable Scope
Local vs. global variable scope.

In [ ]:
# Before you run this cell, what do you think will be printed?

x = [0, 3, 7]

def my_func(x):

    x = "blue"
    return x

my_func(x)
print(x)

# Uncomment the code below each "pause point" as you work through this cell
# Pause Point 1
# x = my_func(x)
# print(x)


# Pause Point 2
# x = [0, 3, 7]
# def my_func(y):
#     global x
#     x = "blue"
#     return x

# my_func(x)
# print(x)

# Pause Point 3
x = [0, 3, 7]

def my_func(x):

    x[1] = "blue"
    return x

my_func(x)
print(x)

In [ ]:
# How about now?

x = [0, 3, 7]

def my_func(x):

    x = "blue"
    return x

x = my_func(x)
print(x)